## Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/tic_tac_toc.csv')

In [3]:
df.head()

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square,Class
0,b'x',b'x',b'x',b'x',b'o',b'o',b'x',b'o',b'o',b'positive'
1,b'x',b'x',b'x',b'x',b'o',b'o',b'o',b'x',b'o',b'positive'
2,b'x',b'x',b'x',b'x',b'o',b'o',b'o',b'o',b'x',b'positive'
3,b'x',b'x',b'x',b'x',b'o',b'o',b'o',b'b',b'b',b'positive'
4,b'x',b'x',b'x',b'x',b'o',b'o',b'b',b'o',b'b',b'positive'

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   top-left-square       958 non-null    object
 1   top-middle-square     958 non-null    object
 2   top-right-square      958 non-null    object
 3   middle-left-square    958 non-null    object
 4   middle-middle-square  958 non-null    object
 5   middle-right-square   958 non-null    object
 6   bottom-left-square    958 non-null    object
 7   bottom-middle-square  958 non-null    object
 8   bottom-right-square   958 non-null    object
 9   Class                 958 non-null    object
dtypes: object(10)
memory usage: 75.0+ KB

In [5]:
# win frequency
df['Class'].value_counts(normalize = True) * 100

b'positive'    65.344468
b'negative'    34.655532
Name: Class, dtype: float64

## Data processing

In [6]:
from sklearn.preprocessing import OrdinalEncoder

for col in df.columns:
    if df[col].dtype == "object" :
        oe = OrdinalEncoder()
        oe.fit(df[[col]])
        df[col] = oe.fit_transform(df[[col]])

In [7]:
df.head()

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square,Class
0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0
1,2.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0
2,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0
3,2.0,2.0,2.0,2.0,1.0,1.0,1.0,0.0,0.0,1.0
4,2.0,2.0,2.0,2.0,1.0,1.0,0.0,1.0,0.0,1.0

## Train and Test

In [8]:
from sklearn.model_selection import train_test_split

X = df.drop('Class', axis = 1)
y = df['Class']

xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.25, random_state = 0)

## Training

In [9]:
from sklearn.ensemble import GradientBoostingClassifier

gb = GradientBoostingClassifier()

gb.fit(xtrain, ytrain)

pred = gb.predict(xtest)

## Results

In [12]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

accuracy = accuracy_score(ytest, pred)
precision = precision_score(ytest, pred)
recall = recall_score(ytest, pred)
f1 = f1_score(ytest, pred)

print(f'Acurácia: {accuracy:.3f}')
print(f'Precision: {precision:.3f}')
print(f'Recall: {recall:.3f}')
print(f'F1 Score {f1}')

Acurácia: 0.933
Precision: 0.916
Recall: 0.987
F1 Score 0.95

_